<ion-content class="bg_class">
    <img src="assets/logo-bdx.svg" class="img">

    <div class="info">
        <p>Récapitulatif</p>
    </div>
    <div *ngFor="let data of transport">
        <div *ngIf="data === 'vélo'">
            <ion-item color="success">
                <ion-label>
                Vous êtes écolo
                </ion-label>
            </ion-item>
        </div>
        <div *ngIf="data === 'bus/tram'">
                <ion-item color="success">
                    <ion-label>
                    Billet des bus : 1,70€
                    </ion-label>
                </ion-item>
        </div>
        <div *ngIf="data === 'voiture'">
            <ion-button color="medium" href="/stationner"><p>Voir les parkings</p></ion-button>
            <ion-item color="danger">
                    <ion-label>
                   118,5g de CO2/Km
                    </ion-label>
                </ion-item>
        </div>
    </div>
        <div class="budget">
            <p>Budget : {{recapBudget}} EUROS</p>
        </div>

        <div class="transport">
            <p>TRANSPORT PRINCIPAL :</p>
        </div>

        <div *ngFor="let data of transport">
            <ion-list *ngIf="data != 'null'">
                <ion-item>
                    <ion-label>
                        <p>{{data}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
        <div class="themes">
            <p>THEMES FAVORIS :</p>
        </div>

        <div *ngFor="let data of themesFavoris">
            <ion-list *ngIf="data != 'null'">
                <ion-item>
                    <ion-label>
                        <p>{{data}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>  
        

        <div class="personnes">
            <p>NOMBRE DE PERSONNES :</p>
        </div>

        <div class="adultes">
            <p>ADULTES :</p>
            <ion-input type="number" disabled="disabled" value="{{adultes}}"></ion-input>
        </div>
        <div class="enfants">
            <p>ENFANTS :</p>
            <ion-input type="number" disabled="disabled" value="{{enfants}}"></ion-input>
        </div>

        <div class="btnSubmit">
            <ion-button color="medium" (click)="onSubmit()"> 
                <p>Validez</p>
            </ion-button>
        </div>

        <div class="btnSubmit">
            <ion-button color="medium" href="/form">
                <p>Retour</p>
            </ion-button>
        </div>
</ion-content>