.bg_class {
    --background:#eeeef3 !important;
    .backIcon{
        color: red;
    }
    .back{
        position: absolute;
        ion-button{
           width: 60px;
           border: none;
        }
    }
    ion-button{
        border: #de3939 8px solid;
        border-radius: 33px;
        color: #de3939;
        font-size: 16px;
        text-align: center;
        width: 250px;
        margin-top: 10%;
        margin-left: 15%;
        p{
            color:  #de3939;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    ion-checkbox{

        margin-left: 6%;
        margin-right: 2%;
    }
    ion-input{
        border: black 2px solid;
        border-radius: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .img {
        margin-top: 5%;
        margin-left: 36%;
        width: 100px;
        height: 100px;
    }
    .info {
        p {
            color:#de3939;
            font-family: 'TheNext';
            font-size: 28px;
            text-align: center;
        }
    }
    .budget {
        p {
            color: black;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    .transport {
        p {
            color: black;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    .check {
        p{
            color: black;
            font-family: 'TheNext';
            font-size: 16px;
            display: inline;
        }
    }
    .themes {
        p {
            color: black;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    .personnes {
        p {
            color: black;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }

    .adultes {
        display: inline-block;
        margin-left: 10%;
        width: 100px;
        
        p {
            
            color: black;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: left;
        }
    }
    .enfants {
        display: inline-block;
        width: 100px;
        margin-left: 22%;
        p {
            
            color: black;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: right;
        }
    }

}