<ion-content class="bg_class">
    <div class="back">
        <ion-button color="medium" href="/home">
            <ion-icon name="arrow-round-back" class="backIcon"></ion-icon>
        </ion-button>
    </div>
    <img src="assets/logo-bdx.svg" class="img">
    <div class="info">
        <p>Informations :</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
 
        <div class="budget">
            <p>Budget : {{budget}} EUROS</p>
        </div>
        <ion-range formControlName="budget" [(ngModel)]="budget" min="0" max="200" color="danger" name="budget"></ion-range>
        <div class="transport">
            <p>TRANSPORT PRINCIPAL :</p>
        </div>
        <div class="check">
            <ion-checkbox mode="md" class="checkB" color="danger" formControlName="velo" [(ngModel)]="velo" name="velo"></ion-checkbox>
            <p class="subtitle">VÉLO</p>
            <ion-checkbox mode="md" color="danger" formControlName="bus" [(ngModel)]="bus" name="bus" value="bus"></ion-checkbox>
            <p class="subtitle">BUS/TRAM</p>
            <ion-checkbox mode="md" color="danger" formControlName="voiture" [(ngModel)]="voiture" name="voiture"></ion-checkbox>
            <p class="subtitle">VOITURE</p>
        </div>
        <div class="themes">
            <p>THEMES FAVORIS :</p>
        </div>
        
        <div class="check">
            <ion-grid> 
                <ion-row>
                    
                        <ion-col>
                                <ion-checkbox mode="md" class="checkB" color="danger" formControlName="atelierP" [(ngModel)]="atelierP" name="atelierP"></ion-checkbox>
                                <p class="subtitle">Atelier Pensée</p>
                        </ion-col>
                        <ion-col>
                                <ion-checkbox mode="md" color="danger" formControlName="lecture" [(ngModel)]="lecture" name="lecture"></ion-checkbox>
                                <p class="subtitle">Lecture</p>
                        </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-checkbox mode="md" color="danger" formControlName="cinema" [(ngModel)]="cinema" name="cinema"></ion-checkbox>
                                <p class="subtitle">Cinema</p>
                        </ion-col>
                        <ion-col>
                                <ion-checkbox mode="md" color="danger" formControlName="musique" [(ngModel)]="musique" name="musique"></ion-checkbox>
                                <p class="subtitle">Musique</p>

                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                                <ion-checkbox mode="md" class="checkB" color="danger" formControlName="conference" [(ngModel)]="conference" name="conference"></ion-checkbox>
                                <p class="subtitle">Conférence</p>
                          </ion-col>
                          <ion-col>
                                <ion-checkbox mode="md" color="danger" formControlName="cinemajeune" [(ngModel)]="cinemajeune" name="cinemajeune"></ion-checkbox>
                                <p class="subtitle">Cinema Jeune</p>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                            <ion-col>
                                    <ion-checkbox mode="md" color="danger" formControlName="danse" [(ngModel)]="danse" name="danse"></ion-checkbox>
                                    <p class="subtitle">Danse</p>
                            </ion-col>
                            <ion-col>
                                
                                    <ion-checkbox mode="md" color="danger" formControlName="visites" [(ngModel)]="visites" name="visites"></ion-checkbox>
                                    <p class="subtitle">Visites</p>
                                </ion-col>
                      </ion-row>
                         <ion-row>
                            <ion-col>
                                    <ion-checkbox mode="md" color="danger" formControlName="feuilleton" [(ngModel)]="feuilleton" name="feuilleton"></ion-checkbox>
                                    <p class="subtitle">Feuilleton</p>
                            </ion-col>
                            <ion-col>
                                    <ion-checkbox mode="md" class="checkB" color="danger" formControlName="indiscipline" [(ngModel)]="indiscipline" name="indiscipline"></ion-checkbox>
                                    <p class="subtitle">indiscipline</p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                    <ion-checkbox mode="md" class="checkB" color="danger" formControlName="theatre" [(ngModel)]="theatre" name="theatre"></ion-checkbox>
                                    <p class="subtitle">Theatre</p>
                            </ion-col>
                            <ion-col>
                                    <ion-checkbox mode="md" color="danger" formControlName="theatreJ" [(ngModel)]="theatreJ" name="theatreJ"></ion-checkbox>
                                    <p class="subtitle">Theatre Jeune</p>
                            </ion-col>
                            
                        </ion-row>
            </ion-grid>   

        </div>
        <div class="personnes">
            <p>NOMBRE DE PERSONNES :</p>
        </div>
        <div class="adultes">
            <p>ADULTES :</p>
            <ion-input type="number" formControlName="adultes" [(ngModel)]="adultes" name="adultes"></ion-input>
        </div>
        <div class="enfants">
            <p>ENFANTS :</p>
            <ion-input type="number" formControlName="enfants" [(ngModel)]="enfants" name="enfants"></ion-input>
        </div>
        <div class="btnSubmit">
            <ion-button color="medium" type="submit">
                <p>RECAPITULATIF</p>
            </ion-button>
        </div>
    </form>
</ion-content>