<ion-header>

    <ion-toolbar>
      <ion-buttons slod="end">
        <ion-button href="/home">Retour</ion-button>
      </ion-buttons>
      <ion-buttons slod="right">
            <ion-button (click)="locate()">Me géolocaliser</ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ng-container *ngIf="isReady == false; else elseTemplate">
        <ion-spinner></ion-spinner>
    </ng-container>
    <ng-template #elseTemplate>
      <agm-map style="height: 100%" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
      </agm-map>
    </ng-template>
  </ion-content>
  