<ion-content class="bg_class">
    <div class="back">
        <ion-button color="medium" href="/home">
            <ion-icon name="arrow-round-back" class="backIcon"></ion-icon>
        </ion-button>
    </div>
    <img src="assets/logo-bdx.svg" class="img">
    <div class="liste">
        <p>LISTE DES SPECTACLES :</p>
    </div>
    <div *ngFor="let data of r1">
        <ion-card>
            <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>{{data.nom}}</ion-label>
                <ion-button fill="outline" slot="end" (click)="openSpectacle(data.id)">Voir</ion-button>
            </ion-item>
            <ion-card-content>
                {{data.lieu}}
            </ion-card-content>
        </ion-card>
    </div>


</ion-content>