.bg_class {
    --background:#eeeef3 !important;
    ion-card-subtitle{
        font-family: 'TheNext';
        color: #e68c39;
    }
    ion-label{
        font-family: 'TheNext';
        color: #de3939;
    }
    ion-card-title{
        font-family: 'TheNext';
        color: #de3939;
    }
    ion-card-content{
        font-family: 'TheNext';
        color: black;
    }
    .backIcon{
        color: red;
    }
    .img {
        margin-top: 5%;
        margin-left: 36%;
        width: 100px;
        height: 100px;
    }
    .back{
        position: absolute;
    }
    .liste {
        p {
            color:#de3939;
            font-family: 'TheNext';
            font-size: 28px;
            text-align: center;
        }
    }

}
