.bg_class{
    --background: linear-gradient(
        190deg, 
        #fafafa 0%, 
        #e0b9b9 33.5%, 
        #c81812 100%
    ) !important;

    .img {
        position: absolute;
        width: 150px;
        height: 150px;
        bottom: 44%;
        left: 31%;
    }

    .btnLaunch{
        position: absolute;
        bottom: 19%;
        left: 15%;
        font-size: 30px;
        font-family: 'TheNext';
        color: rgb(37, 37, 71);
    }
}