<ion-header>

  <ion-toolbar>
    <ion-buttons slod="end">
      <ion-button (click)="onClose()">Retour</ion-button>
    </ion-buttons>
    <ion-buttons slod="right">
      <ion-button (click)="locate()">Y aller</ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-container *ngIf="isReady == false; else elseTemplate">
      <ion-spinner></ion-spinner>
  </ng-container>
  <ng-template #elseTemplate>
    <agm-map style="height: 100%" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker
        [latitude]="marker.coordonnes.lng"
        [longitude]="marker.coordonnes.lat"
        animation="DROP">
        <agm-info-window [disableAutoPan]="true" #infoWindow [isOpen]="true">{{nameList.nom}}</agm-info-window>
        <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
        </agm-marker>
    </agm-map>
  </ng-template>
</ion-content>
