.bg_class {
    --background:#eeeef3 !important;
    ion-card-subtitle{
        font-family: 'TheNext';
        color: #e68c39;
    }
    ion-spinner{
        position: absolute; 
        top: 50%; left: 50%; 
        transform: translate(-50%, -50%);
    }
    ion-label{
        font-family: 'TheNext';
        color: #de3939;
    }
    ion-card-title{
        font-family: 'TheNext';
        color: #de3939;
    }
    ion-card-content{
        font-family: 'TheNext';
        color: black;
    }
    .backIcon{
        color: red;
    }
    .img {
        margin-top: 5%;
        margin-left: 36%;
        width: 100px;
        height: 100px;
    }
    .back{
        position: absolute;
    }
    .themes {
        display: inline-block;
        margin-left: 7%;

        p {
            color:#f59191;
            font-family: 'TheNext';
            font-size: 28px;
            text-align: center;
            display: inline;
        }
    }
    .lieu {
        display: inline-block;
        margin-left:  35%;
        p {
            color:#737373;
            font-family: 'TheNext';
            font-size: 28px;
            text-align: center;
            display: inline;
        }
    }

    .resume {
        h1{
            color:black;
            font-family: 'TheNext';
            font-size: 28px;
            text-align: center;
        }
        p {
            margin-left: 2%;
            margin-right: 2%;
            color:black;
            font-family: 'TheNext';
            font-size: 14px;
        }
    }
    .titre {
        p {
            color:#de3939;
            font-family: 'TheNext';
            font-size: 28px;
            text-align: center;
        }
    }

}
