<ion-content class="bg_class">
    <ng-container *ngIf="!isReady; else elseTemplate">
            <ion-spinner></ion-spinner>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="back">
            <ion-button color="medium" href="/liste">
                <ion-icon name="arrow-round-back" class="backIcon"></ion-icon>
            </ion-button>
        </div>
        <img src="assets/logo-bdx.svg" class="img">
        <div class="titre">
            <p>{{list.nom}}</p>
        </div>
        <img src="../../assets/musique.jpg">
        <!-- <div class="themes">
            <div *ngFor="let data of list.types">
                <p>{{data}}</p>
            </div>
        </div> -->
        <div class="lieu">
            <ion-button color="medium" (click)="openModal(list.id)"><p>Map</p></ion-button>
        </div>
        <div class="resume">
            <h1>Résumé du spectacle <ion-button color="black" onClick="window.location.reload();" style="color:black"><ion-icon name="refresh"></ion-icon></ion-button></h1>
            <p>Nombre de places restantes : {{list.affluence}}</p>
            <p>Capacité : {{list.places_max}}</p>
            <p>Adresse : {{list.lieu}}</p>
            <p>Date : {{list.date}}</p>
        </div>
    </ng-template>
    
</ion-content>