<ion-header>

    <ion-toolbar>
      <ion-buttons slod="end">
        <ion-button href="/home">Retour</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ng-container *ngIf="isReady == false; else elseTemplate">
        <ion-spinner></ion-spinner>
    </ng-container>
    <ng-template #elseTemplate>
      <agm-map style="height: 100%" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let item of markers"
        [latitude]="item.coordonnes.lat"
        [longitude]="item.coordonnes.lng"
        animation="DROP"
      >
      <agm-info-window  [disableAutoPan]="true" #infoWindow [isOpen]="true">{{item.name}}</agm-info-window>
    </agm-marker>
      </agm-map>
    </ng-template>
  </ion-content>