<ion-content class="bg_class">
    <img src="assets/logo-bdx.svg" class="img">
    <div class="offre">
        <ion-button color="medium" href="/form">
            <p>OFFRE PERSONNALISÉE</p>
        </ion-button>
    </div>
    <div class="liste">
        <ion-button color="medium" href="/liste">
            <p>LISTE DES SPECTACLES</p>
        </ion-button>
    </div>
    <div class="station">
        <ion-button color="medium" href="/stationner">
            <p>Où STATIONNER ?</p>
        </ion-button>
    </div>
    <div class="venir">
        <ion-button color="medium" href="/map">
            <p>COMMENT VENIR</p>
        </ion-button>
    </div>
</ion-content>