.bg_class {
    --background:#eeeef3 !important;
    
    .venir{
        border: #de3939 8px solid;
        border-radius: 33px;
        color: #de3939;
        font-size: 16px;
        text-align: center;
        width: 300px;
        margin-top: 10%;
        margin-left: 10%;
        p{
            color:  #de3939;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    .offre{
        border: #e68c39 8px solid;
        color: #e68c39;
        font-size: 16px;
        text-align: center;
        width: 300px;
        margin-top: 10%;
        margin-left: 10%;
        p{
            width: 100%;
            color:  #e68c39;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    .liste{
        border: #de3939 8px solid;
        color: #de3939;
        font-size: 16px;
        text-align: center;
        width: 300px;
        margin-top: 10%;
        margin-left: 10%;
        p{
            color:  #de3939;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    .station{
        border: black 8px solid;
        color: black;
        font-size: 16px;
        text-align: center;
        width: 300px;
        margin-top: 10%;
        margin-left: 10%;
        p{
            color:  black;
            font-family: 'TheNext';
            font-size: 20px;
            text-align: center;
        }
    }
    .img {
        margin-top: 5%;
        margin-left: 36%;
        width: 100px;
        height: 100px;
    }

}